@model List<Fiap.Exemplo02.MVC.Web.Models.Aluno>

@if(TempData["msg"] != null)
{
    <br />
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["msg"]
    </div>
}

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Bolsa</th>
            <th>Desconto</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Nome</td>
                <td>@a.DataNascimento</td>
                <td>@a.Bolsa</td>
                <td>@a.Desconto</td>
                <td>
                    <button class="btn btn-warning" onclick="editarAluno(@a.Id)">Editar</button>
                    <button class="btn btn-danger" onclick="apagarAluno(@a.Id)">Apagar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

